body{
    background-color: #5E6472;
    text-align: center;
}

img{
    height: 250px;
    width: 250px; 
}

a{
    font-size: 26pt;
}

.master-container{
    color: #FAF3DD;
    width: 65%;
    height: 50vh;
    padding: 25px;
    stroke: 3px solid gray;
    display: flex;
}

.button-container{
}

.button{
    width: 75em;
    height: 50em;
    padding: 25px;
    color: #B8F2E6;
    border: 1px solid transparent;
}

