:root{
    /*body / background colors*/
    --eerie-black: #191716ff;
    --deep-taupe: #896a67ff;
    --khaki-web: #beb7a4ff;
    --old-lavender: #7d6f86ff;
    --alabaster: #e0e2dbff;
    /*element colors*/
    --goldenrod: #e6af2eff;
    --metallic-seaweed: #177e89ff;
    --dark-slate-blue: #3d348bff;
    --purple-navy: #585191ff;

    --facebook-blue: #3b5998;
    --twitter-blue: #1DA1F2;
    --instagram-grad:#ffc273;
}

@font-face {
    font-family: Montserrat;
    src: url('/assets/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Ropa Sans;
    src: url('/assets/RopaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Fira;
    src: url('/assets/FiraMono-Medium.ttf') format('truetype');
}

@-moz-document url-prefix() {
    html{overflow: hidden !important;}
    body{overflow-y: scroll;}
}

html, body{
    background-color: var(--eerie-black);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}

.top-bar{
    background-color: var(--alabaster);
    width: 100vw;
    height: 5vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row;
}

.top-bar a{
    font-family: 'Fira';
    font-size: 16pt;
    margin-left: 2.5rem;
    color: var(--eerie-black);
    padding: 0;
    display: inline-flex;
    text-decoration: none;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
}

.top-bar ul{
    list-style-type: none;
    margin-left: auto;
    margin-right: 2.5rem;
    padding: 0;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
}

.top-bar ul li{
    margin: 0px 0px;
    float: left;
}

.top-bar ul li a{
    color: var(--eerie-black);
    margin: 0px 5px;
    font-family: Ropa Sans;
    font-size: 16pt;
    align-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-flow: column;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.content-box{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: var(--eerie-black);
}

.brown{
    background-color: var(--deep-taupe);
}

.content-box ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content-box li{
    margin-right: 10px;
    text-align: center;
    float: left;
    font-family: Montserrat;
    font-size:16pt;
    color: var(--alabaster);
}

.content-box h1{
    padding: 0;
    margin: 0;

    font-family: Ropa Sans;
    font-size: 48pt;
    color: var(--alabaster);
}

.calling-card{
    content: "";
    background-color: var(--alabaster);
    height: 65%;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

.calling-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.left-card{
    width: 35%;
    content: "";
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.left-card img{
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--goldenrod);
}

.icon-row{
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.icon-row a{
    text-decoration: none;
    padding: 10px;
}

.icon-row svg{
    height: 45px;
    width: auto;
}

.right-card{
    margin: 0;
    width: auto;
    content: "";
    background-color: var(--eerie-black);
    flex-grow: 1;
    flex-shrink: 0;
    border-left: 1px solid var(--eerie-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
}

.right-card pre{
    margin: 0;
    text-decoration: none;
    font-family: Fira;
    font-size: 16px;
}


.anim1{
    color: var(--alabaster);
    transition: color 250ms ease; 
}

.anim1:hover {
    color: var(--dark-slate-blue);
}

.anim2{
    color: var(--alabaster);
    transition: color 250ms ease; 
}

.anim2:hover {
    color: var(--goldenrod);
}

.anim3{
    color: var(--alabaster);
    transition: color 250ms ease; 
}

.anim3:hover {
    color:var(--metallic-seaweed);
}

.proj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.head h4{
    font-family: Montserrat;
    font-size: 36pt;
    color: var(--alabaster);
}

.button{
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: var(--old-lavender);
}

.button a{
    font-family: Fira;
    font-size: 24pt;
    color: var(--alabaster);
    text-decoration: none;
}

b{
    text-decoration: none;
    color: var(--goldenrod);
}

strong{
    text-decoration: none;
    color: var(--purple-navy);
}

mark{
    text-decoration: none;
    background-color: transparent;
    color: var(--instagram-grad);
}

i{
    text-decoration: none;
    font-style: normal;
    color: var(--dark-slate-blue);
}

em{
    text-decoration: none;
    font-style: normal;
    color: var(--metallic-seaweed);
}

#facebook {
    fill: var(--facebook-blue);
}

#twitter {
    fill: var(--twitter-blue);
}

#instagram {
    fill: var(--instagram-grad);
}
