body {
    background-color: #314057;
}

hr {
    width: 100%;
}


#profile-image {
    height: 240px;
    width:  240px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #3376b0;
}

#frame {
    width: 90%;
    background-color: antiquewhite;
    margin: auto;
    padding: 10px;
    border: 2px whitesmoke;
    border-radius: 20px;
}